/* 1. Importa las directivas de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Aplica las fuentes base (como lo teníamos) */
@layer base {
  body {
    font-family: var(--font-inter), "Noto Sans", sans-serif;
  }
}

/* Ocultar barra de scroll en elementos con la clase 'scrollbar-hide' */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Para Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}